<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SphereFind.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A4C73D21B9D7CEF003F61DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A4C73E91B9D7CEF003F61DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A4C73F41B9D7CEF003F61DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
